<header ng-controller="HomeController">
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">AngularJS Learning</a>
			</div>

			<ul class="nav navbar-nav navbar-right">

				<li>
					<a ng-hide='isAuthenticated' href="#/login"><i class="icon-user"></i>Login</a>
					<a ng-show='isAuthenticated' ng-href="" ng-click='logout()' ><i class="icon-user"></i>Logout</a>
				</li>

				<li ng-if="isAuthenticated" ng-repeat="menuItem in menu.top"><a href="#{{menuItem.url}}"><i class="fa {{menuItem.class}}"></i>{{menuItem.name}}</a></li>
				
			</ul>

		</div>
	</nav>
</header>